
.divMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

p{
  text-align: center;
}

input{
  border-color: black
}

button{
  background-color: black;
  border-radius: 4px;
  color: aliceblue;
}

.person-checkboxes{
  display: contents;
  height: 100px;
}

select{
  border-color: black;
}